
@model ServiceClaim.Models.ServiceSheet
    

@using (Html.BeginForm("StateTechWork", "Claim", FormMethod.Post, new {@id = "StateTechWorkForm", @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m => m.IdClaim)
    <div class="row">
        <label class="col-lg-2 text-right">Процесс печати восстановлен</label>
        <div class="col-lg-6">
            @Html.RadioButtonFor(m => m.ProcessEnabled, true, new { required = "required" }) да&nbsp;&nbsp;&nbsp; @Html.RadioButtonFor(m => m.ProcessEnabled, false) нет
            <span class="help-block with-errors"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-lg-2 text-right">Аппарат полностью восстановлен</label>
        <div class="col-lg-6">
            @Html.RadioButtonFor(m => m.DeviceEnabled, true, new { required = "required" }) да&nbsp;&nbsp;&nbsp; @Html.RadioButtonFor(m => m.DeviceEnabled, false) нет
            <span class="help-block with-errors"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-lg-2 text-right">Необходим заказ ЗИП</label>
        <div class="col-lg-6">
            @Html.RadioButtonFor(m => m.ZipClaim, true, new { required = "required" }) да&nbsp;&nbsp;&nbsp; @Html.RadioButtonFor(m => m.ZipClaim, false) нет
            <span class="help-block with-errors"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-lg-2 text-right">Счетчик ЧБ</label>
        <div class="col-lg-6">
            @Html.TextBoxFor(m=>m.CounterMono, new {@class="form-control", required="required"})
            <span class="help-block with-errors"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-lg-2 text-right">Счетчик ЦВ</label>
        <div class="col-lg-6">
            @Html.TextBoxFor(m => m.CounterColor, new { @class = "form-control" })
            <span class="help-block with-errors"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-push-2 col-lg-10">
            <button type="submit" class="btn btn-success">Далее</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-push-2 col-lg-10">
            <p class="text-danger">@TempData["ServerError"]</p>
        </div>
    </div>
}